worlds:
  world1:
    name: uhc
    alias: UHCOver
    color: darkred
    environment: normal
  world2:
    name: uhc_nether
    alias: UHCNether
    color: darkred
    environment: nether
  world3:
    name: uhc_the_end
    alias: UHCEnd
    color: darkred
    environment: end
wall:
  block:
  - 7
  radius:
  - 750
teams:
  team1:
    options:
      prefix:
      - '&e'
    players:
    - abhai28
  team2:
    options:
      prefix:
      - '&3'
    players:
    - jordi3
  team3:
    options:
      prefix:
      - '&6'
    players:
    - ScareTHEprO
  team4:
    options:
      prefix:
      - '&2'
    players:
    - LonelyFatKid
  team5:
    options:
      prefix:
      - '&5&l'
    players:
    - Plancke
  team6:
    options:
      prefix:
      - '&8'
    players:
    - boxmeerbosven